<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cdkj.baselibrary">

    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--相机-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>


    <application>
        <!--自定义fileprovider，类似schema，命名空间之类，后面会用到-->
        <!--申明为true，你才能获取临时共享权限-->
        <!--false表示我们的provider不需要对外开放-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!--元数据-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--修改手机号-->
        <activity
            android:name="com.cdkj.baselibrary.activitys.UpdatePhoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--//找回密码-->
        <activity
            android:name="com.cdkj.baselibrary.activitys.FindPwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--图片选择-->
        <activity
            android:name=".activitys.ImageSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialogStyleBottom"
            android:windowSoftInputMode="adjustPan" />
        <!--支付密码修改-->
        <activity
            android:name="com.cdkj.baselibrary.activitys.PayPwdModifyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--银行卡修改-->
        <activity
            android:name="com.cdkj.baselibrary.activitys.UpdateBankCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cdkj.baselibrary.activitys.WebViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--大图ViewPager-->
        <activity
            android:name="com.cdkj.baselibrary.activitys.ShowBigPhotoViewPagerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--大图Activity-->
        <activity
            android:name="com.cdkj.baselibrary.activitys.ShowBigPhotoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--添加修改地址-->
        <activity
            android:name=".activitys.address.AddAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--地址列表-->
        <activity
            android:name=".activitys.address.AddressListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--地址列表-->
        <activity
            android:name=".activitys.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--地址列表-->
        <activity
            android:name=".activitys.BankCardListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--地址列表-->
        <activity
            android:name=".activitys.BankCardListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--地址列表-->
        <activity
            android:name=".activitys.bankcard.AddBankCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

    </application>


</manifest>
